<div class="signUpMasterDiv">
  <form [formGroup]="buyerRegisterForm" (ngSubmit)="buyerSubmit(buyerRegisterForm)" novalidate style="padding-top:60px">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="">
            <div class="form-group">
              <input class="form-control required" required placeholder="First Name" formControlName="firstName" type="text">
              <div *ngIf="buyerRegisterForm.controls['firstName'].errors
                                     && !buyerRegisterForm.controls['firstName'].pristine" class="alert alert-danger">
                <div [hidden]="!buyerRegisterForm.controls['firstName'].errors.required">First Name is required.</div>
              </div>
            </div>
            <div class="form-group">
              <input class="form-control required" required placeholder="Last Name" formControlName="lastName" type="text">
              <div *ngIf="buyerRegisterForm.controls['lastName'].errors
                                       && !buyerRegisterForm.controls['lastName'].pristine" class="alert alert-danger">
                <div [hidden]="!buyerRegisterForm.controls['lastName'].errors.required">Last Name is required.</div>
              </div>
            </div>
            <div class="form-group">
              <input class="form-control required" required email placeholder="Enter email id" formControlName="emailId" type="email">
              <div *ngIf="buyerRegisterForm.controls['emailId'].errors
                                         && !buyerRegisterForm.controls['emailId'].pristine" class="alert alert-danger">
                <div [hidden]="!buyerRegisterForm.controls['emailId'].errors.required">Email id is required</div>
                <div [hidden]="!buyerRegisterForm.controls['emailId'].errors.email">Email must be a valid email address</div>
              </div>
            </div>
            <div class="form-group">
              <input class="form-control required" required placeholder="User Type" formControlName="userType" type="text">
              <div *ngIf="buyerRegisterForm.controls['userType'].errors
                                             && !buyerRegisterForm.controls['userType'].pristine" class="alert alert-danger">
                <div [hidden]="!buyerRegisterForm.controls['userType'].errors.required">User Type is required.</div>
              </div>
              <!--TODO: Make it dropdown list later-->
            </div>
            <div class="form-group">
              <input class="form-control required" required placeholder="Mobile Number" formControlName="mobileNumber" type="text">
              <div *ngIf="buyerRegisterForm.controls['mobileNumber'].errors
                                               && !buyerRegisterForm.controls['mobileNumber'].pristine" class="alert alert-danger">
                <div [hidden]="!buyerRegisterForm.controls['mobileNumber'].errors.required">Mobile Number is required.</div>
              </div>
            </div>
            <div class="form-group">
              <input class="form-control required" required placeholder="User Name" formControlName="userName" type="text">
              <div *ngIf="buyerRegisterForm.controls['userName'].errors
                                 && !buyerRegisterForm.controls['userName'].pristine" class="alert alert-danger">
                <div [hidden]="!buyerRegisterForm.controls['userName'].errors.required">User Name is required.</div>
              </div>
            </div>
            <div class="form-group">
              <input class="form-control required" required placeholder="Password" formControlName="password" type="password">
              <div *ngIf="buyerRegisterForm.controls['password'].errors
                               && !buyerRegisterForm.controls['password'].pristine" class="alert alert-danger">
                <div [hidden]="!buyerRegisterForm.controls['password'].errors.required">
                  Password is required.
                </div>
              </div>
            </div>
            <input class="btn btnPink btn-block" value="REGISTER" type="submit" [disabled]='!buyerRegisterForm.valid'>
          </div>
        </div>
      </div>
    </div>
  </form>
