
  <nav  class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a  [routerLink]="['/welcome']" class="navbar-brand">
      <img  class="image-fluid" src="../../../assets/images/logo.jpg" style="width:60px; height:60px;">
    </a>
    <button class="navbar-toggler" type="button"  (click)="collapseMenu()">
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">menu</mat-icon>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse sidebar" [ngClass]="toggleBar">
        <ul class="navbar-nav mr-auto">
          
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link"   [routerLink]="['/welcome']" (click)="collapseMenu()">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/registration']" (click)="collapseMenu()">Registration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contact']" (click)="collapseMenu()">Contact</a>
          </li>
          
        </ul>
    </div>
   
  </nav>
  