<div style="margin-top:10px; border-top: 1px solid #570015;">
  <div class="container-fluid">
  <div class="row" style="margin-top:15px;">
      <div class=" col-md-6 col-sm-4">
          <ul class="list-unstyled">
            <li><img style="height: 50px; width:150px;" src="./../../assets/images/logo-footer.png"></li>
            <li style="font-size: 15px;"><strong>Lencott</strong></li>
            <li><strong>No 551, Avenue road</strong></li>
            <li><strong>Opp canara bank</strong></li>
            <li><strong>Bangalore - 560053 (INDIA)</strong></li>
            <li><strong>Phone: +91 9060321545,</strong></li>
            <li style="padding-left: 3.5em;"><strong>(101) 569874, +1 25487965</strong></li>
            <li><strong>Email:</strong><a href="mailto:support@lencott.com">&nbsp;&nbsp;support@lencott.com</a></li>
            <li style="padding-left: 3.5em;"><a href="mailto:care@lencott.com">care@lencott.com</a></li>
            </ul>
          </div>
        <div class="col-sm-4 ">
            <h5 class="pb-3"  >Explore Us</h5>
            <ul class="list-unstyled footerMenu">
                <li class="pb-2"><a href="#">Home</a></li>
                <li class="pb-2"><a href="#">Registration</a></li>
                <li class="pb-2"><a href="#">Contact</a></li>
            </ul>

        </div>
        <div class="col-md-2 col-sm-4">
            <h5 class="pb-3">Keep in Touch</h5>
            <div class="row socialMedia">
              <div style="padding-left: 15px; padding-right: 5px; "><a href="https://www.facebook.com/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></div>
              <div style="padding-left: 5px; padding-right: 5px;"><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></div>
                
              <div style="padding-left: 5px; padding-right: 5px;"><a href="https://www.whatsapp.com/"><i class="fa fa-whatsapp  fa-2x" aria-hidden="true"></i></a></div>
              <div style="padding-left: 5px; padding-right: 5px;"><a href="https://plus.google.com/discover"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></div>
            </div>
        </div>
    </div>
  </div>
</div>