<div style="margin-top:10px; border-top: 1px solid #570015;">
    <div class="container-fluid">
    <div class="row" style="margin-top:15px;">
        <div class=" col-md-6 col-sm-4">
            <ul class="list-unstyled">
              <li><img style="height: 50px; width:150px;" src="./../../assets/images/logo-footer.png"></li>
              <li style="font-size: 15px;"><strong>Lencott</strong></li>
              <li>No 551, Avenue road,</li>
              <li></li>
              <li> Opp canara bank, Bangalore - 560053 (INDIA)</li>
              <li>Phone: <strong>+91 9060321545, </strong><strong>(101) 569874, +1 25487965</strong></li>
              <li>Email:<a href="mailto:support@lencott.com">&nbsp;&nbsp;support@lencott.com</a>,
              <a href="mailto:care@lencott.com">care@lencott.com</a></li>
              </ul>
            </div>
          <div class="col-sm-4 col">
              <h5 class="pb-3"  >Explore Us</h5>
              <ul class="list-unstyled footerMenu">
                  <li class="pb-2"><a [routerLink]="['/welcome']">Home</a></li>
                  <li class="pb-2"><a [routerLink]="['/registration']">Registration</a></li>
                  <li class="pb-2"><a [routerLink]="['/contact']">Contact</a></li>
              </ul>
  
          </div>
          <div class="col-md-2 col">
              <h5 class="pb-3">Keep in Touch</h5>
              <div class="row socialMedia">
                <div style="padding-left: 15px; padding-right: 5px; "><a href="https://www.facebook.com/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></div>
                <div style="padding-left: 5px; padding-right: 5px;"><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></div>
                  
                <div style="padding-left: 5px; padding-right: 5px;"><a href="https://www.whatsapp.com/"><i class="fa fa-whatsapp  fa-2x" aria-hidden="true"></i></a></div>
                <div style="padding-left: 5px; padding-right: 5px;"><a href="https://twitter.com/"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></div>
              </div>
          </div>
      </div>
    </div>
  </div>