.footerMenu li a
{
    text-decoration:none;
    color: #5273ba;
    font-weight: bold;
}
.footerMenu li a:hover
{
color:#570015;
}
.socialMedia div a{
    color:#5273ba;
}
.socialMedia div a:hover{
    color:#570015;
}
