.footerMenu li a
{
    text-decoration:none;
    color: #296A9C;
    font-weight: bold;
}
.footerMenu li a:hover
{
color:#570015;
}
.socialMedia div a{
    color:#296A9C;
}
.socialMedia div a:hover{
    color:#570015;
}
