<div style="margin-top:10px; border-top: 1px solid #296A9C;">
    <div class="container-fluid">
    <div class="row" style="margin-top:15px;">
        <div class=" col-md-6 col-sm-6">
            <div class="row">
                <div class="col-md-3">
                    <img style="height: 100px; width:100px;" src="./../../assets/images/logo-footer.jpg">
                </div>
                <div class="col-md-9">
                        <ul class="list-unstyled">
                                <li style="font-size: 15px;"><strong>Lencott Clothing</strong></li>
                                <li>Survey #1, 2nd Floor, Near Mangamma Temple,</li>
                                <li>Near Karnataka Bank, Devarachikanahalli Main Road,</li>
                                <li>Bannerghatta Road, Bilekahalli, Bangalore, Karnataka 560076</li>
                                <li>Phone: <strong>+91 9945519396, </strong><strong>080-26484930</strong></li>
                                <li>Email:<a href="mailto:support@lencott.com">&nbsp;&nbsp;lencott.clothing@gmail.com</a>
                                </ul>
                            </div>
                
            </div>
            </div>
              
          <div class="col-sm-4 col">
              <h5 class="pb-3"  >Explore Us</h5>
              <ul class="list-unstyled footerMenu">
                  <li class="pb-2"><a [routerLink]="['/welcome']">Home</a></li>
                  <li class="pb-2"><a [routerLink]="['/registration']">Registration</a></li>
                  <li class="pb-2"><a [routerLink]="['/contact']">Contact</a></li>
              </ul>
  
          </div>
          <div class="col-md-2 col">
              <h5 class="pb-3">Keep in Touch</h5>
              <div class="row socialMedia">
                <div style="padding-left: 15px; padding-right: 5px; "><a href="https://www.facebook.com/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></div>
                <div style="padding-left: 5px; padding-right: 5px;"><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></div>
                  
                <div style="padding-left: 5px; padding-right: 5px;"><a href="https://www.whatsapp.com/"><i class="fa fa-whatsapp  fa-2x" aria-hidden="true"></i></a></div>
                <div style="padding-left: 5px; padding-right: 5px;"><a href="https://twitter.com/"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></div>
              </div>
          </div>
      </div>
    </div>
  </div>