<form [formGroup]="viewProductForm" novalidate style="padding-top:60px">
  <div class="container">
    <div class="row">
     <div class="col-md-12 ">
          <div class="col-md-4 mx-auto column p-3  images "   *ngFor="let product of Products?.products">
            <div class="col-md-12">
             <input class="form-control" type="text" hidden formControlName="productId" [value]="product._id" #productId/>
             <mat-card class="example-card" >
              <img [src]="this.product?.productImageName"  mat-card-image class="image"  />
           </mat-card>
          </div>
        </div>
      <div class="col-md-8">
<h1>test</h1>
      </div>
    </div>
    

    </div>
  </div>
</form>

