
  
    <div class="container-fluid banner">
      <carousel  [showIndicators]="false">
        <slide>
          <img class="image"  src="./../../assets/images/1.jpg"  alt="first slide" width="100%">
        </slide>
        <slide>
          <img class="image" src="./../../assets/images/2.jpg"  alt="second slide" width="100%">
        </slide>
        <slide>
          <img class="image" src="./../../assets/images/3.jpg"  alt="third slide" width="100%">
        </slide>
      </carousel>
      </div>
      <div class="container-fluid" style="margin-top:5px;" >
          <div class="row">
            <div class="col-md-12">
              <img  class="img-fluid register" usemap="#planetmap" src="./../../assets/images/register.jpg"  alt="third slide" width="100%">
            </div>
          </div>
        </div>
        <map name="planetmap">
            <area shape="rect" coords="0,0,1200,991" alt="Sun" [routerLink]="['/registration']">
          </map>
<div class="container-fluid" style="margin-top:5px;">
  <div class="row">
  <div class="col-md-4 col-sm-4" style="margin-bottom:5px;"><img  class="img-fluid  mx-auto d-block" src="./../../assets/images/drop-banner-1.jpg"  alt="third slide"></div>
  <div class="col-md-4 col-sm-4" style="margin-bottom:5px;"><img class="img-fluid  mx-auto d-block" src="./../../assets/images/drop banner-2.jpg"  alt="third slide"></div>
  <div class="col-md-4 col-sm-4" style="margin-bottom:5px;"><img class="img-fluid  mx-auto d-block" src="./../../assets/images/drop-banner-3.jpg"  alt="third slide"></div>
</div>
</div>    
