<div class="container-fluid banner">

  <video width="100%" height="auto" preload="metadata" autoplay="true">
    <source src="./../../assets/images/lencott.mp4" type="video/mp4">

  </video>
  <div class="pointer mt-2" routerLink="/register">
    <img class="img-fluid register" src="./../../assets/images/register.jpg" alt="third slide" width="100%">
  </div>
</div>

<div class="container-fluid" style="margin-top:5px;">
  <div class="row new">
    <div class="col-md-4 images" style="margin-bottom:5px;">
      <img class="img-fluid images" src="./../../assets/images/drop-banner-1.jpg"></div>
    <div class="col-md-4 images" style="margin-bottom:5px;"><img class="img-fluid   images" src="./../../assets/images/drop banner-2.jpg"></div>
    <div class="col-md-4 images" style="margin-bottom:5px;"><img class="img-fluid  images" src="./../../assets/images/drop-banner-3.jpg"></div>
  </div>
</div>
<carousel [showIndicators]="false">
  <slide>
    <img class="img-fluid" src="./../../assets/images/1.jpg" alt="first slide" width="100%">
  </slide>
  <slide>
    <img class="img-fluid" src="./../../assets/images/2.jpg" alt="second slide" width="100%">
  </slide>
</carousel>