<div class="col-md-12 mx-auto" style="margin-top: 50px; margin-bottom: 350px;">
            
  
    
      <ul class="list-unstyled">
        <li><img style="height: 50px; width:150px;" src="./../../assets/images/logo-footer.png"></li>
        <li style="font-size: 15px;"><strong>Lencott</strong></li>
        <li>No 551, Avenue road,</li>
        <li></li>
        <li> Opp canara bank, Bangalore - 560053 (INDIA)</li>
        <li>Phone: <strong>+91 9060321545, </strong><strong>(101) 569874, +1 25487965</strong></li>
        <li>Email:<a href="mailto:support@lencott.com">&nbsp;&nbsp;support@lencott.com</a>,
        <a href="mailto:care@lencott.com">care@lencott.com</a></li>
        </ul>
    



</div>