

<div class="col-md-12 mx-auto" style="margin-top: 50px;">
            
  
    
      <ul class="list-unstyled">
        <li><img style="height: 50px; width:150px;" src="./../../assets/images/logo-footer.png"></li>
        <li style="font-size: 15px;"><strong>Lencott</strong></li>
        <li>No 551, Avenue road,</li>
        <li></li>
        <li> Opp canara bank, Bangalore - 560053 (INDIA)</li>
        <li>Phone: <strong>+91 9060321545, </strong><strong>(101) 569874, +1 25487965</strong></li>
        <li>Email:<a href="mailto:support@lencott.com">&nbsp;&nbsp;support@lencott.com</a>,
        <a href="mailto:care@lencott.com">care@lencott.com</a></li>
        </ul>
    



</div>
<div class="col-md-12 mx-auto" style="margin-top: 50px; margin-bottom: 150px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.210313008595!2d77.58981631482183!3d12.958389990864593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15db74d15b75%3A0xb99cce27a8a949ba!2sLencott+Clothing!5e0!3m2!1sen!2sin!4v1534574683199" width="400" height="300" frameborder="0" style="border:1px solid black" allowfullscreen></iframe>
  
    
  

</div>
