
<div class="container-fluid" style="margin-top: 50px;">
  <div class="row">
      <div class=" col-md-6 col-sm-6">
          <div class="row ">
              <div class="col-md-3 col">
                  <img style="height: 100px; width:100px;" src="./../../assets/images/logo-footer.jpg">
              </div>
              <div class="col-md-9">
                      <ul class="list-unstyled">
                              <li style="font-size: 15px;"><strong>Lencott</strong></li>
                              <li>Survey #1, 2nd Floor, Near Mangamma Temple,</li>
                              <li>Near Karnataka Bank, Devarachikanahalli Main Road,</li>
                              <li>Bannerghatta Road, Bilekahalli, Bangalore, Karnataka 560076</li>
                              <li>Phone: <strong>+91 9945519396, </strong><strong>080-26484930</strong></li>
                              <li>Email:<a href="mailto:support@lencott.com">&nbsp;&nbsp;lencott.clothing@gmail.com</a>,
                              </ul>
                          </div>
              
          </div>
          </div>
  </div>
  <div class="row">
<div class="col-sm-12 col mx-auto" style="margin-top: 50px; margin-bottom: 150px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.1468839834133!2d77.60359081416765!3d12.898275119974384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15b7935b0a55%3A0xe4bfcd4497ef8699!2sLencott+Clothing!5e0!3m2!1sen!2sin!4v1534594862351" width="300" height="300" frameborder="0" style="border:1px solid black" allowfullscreen></iframe>
</div>
</div>
</div>